<div style="text-align: center">
  <h1>Low5Selfie</h1>
  <h3>by JPDesign</h3>
</div>
<div class="container">
  <div class="row justify-content-md-center"><webcam></webcam></div>
  <br/>
  <div class="row justify-content-md-center">
  <button class="btn btn-primary md-col-5" >Capture</button>
  <button class="btn btn-info md-col-5" >Swap Cameras</button>
</div>
</div>


<div class="snapshot" >
  <h2>Captured Image</h2>
  <h3>Would you like to save this image Locally or Upload it to Firebase?</h3>
  
  <button class="actionBtn" >Save Locally</button>
  <button class="actionBtn" >Upload to Firebase</button>
</div>
<router-outlet></router-outlet>
